:host {
  display: flex;
  justify-content: center;
}
.nav-item {
  width: 80%;
  height: 30px;
  margin: 10px 0;
  border-radius: 2px;
  background-color: #d8d8d8;
}

@media only screen and (min-width: 600px) {
  .nav-item {
    width: 150px;
    height: 30px;
    margin: 0 10px;
    border-radius: 2px;
    background-color: #d8d8d8;
  }
}
