:host {
  width: 100%;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 600px) {
  .nav {
    flex-direction: row;
    justify-content: center;
  }
}
