.footer-section-header {
  width: 70%;
  height: 30px;
  background-color: #adb2b9;
  border-radius: 2px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 600px) {
  .footer-section-header {
    width: 90%;
    height: 30px;
  }
}
