header {
  width: 100%;
  padding-top: 10px;
  box-shadow: 0 1px 1px #9E9E9E;
  border-top: 3px solid #cdcdcd;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
