.footer-section-item {
  width: 100%;
  height: 25px;
  background-color: #ced3d7;
  border-radius: 2px;
  margin-bottom: 5px;
}
@media only screen and (min-width: 600px) {
  .footer-section-item {
    width: 100%;
    height: 20px;
  }
}
