<div>
  <app-header>
    <app-avatar></app-avatar>
    <app-nav>
      <app-nav-item></app-nav-item>
      <app-nav-item></app-nav-item>
      <app-nav-item></app-nav-item>
      <app-nav-item></app-nav-item>
    </app-nav>
  </app-header>
  <app-section>
    <form [formGroup]="exhangeForm" (onSubmit)="convert()" class="form" action="">
      <div class="input-group">
        <input class="input-control" [placeholder]="from"  autofocus
               appNumberFormat [currencySymbol]="from" [currencyDecimals]="decimals"
               formControlName="toConvert">
        <input class="input-control" [placeholder]="to" readonly
               [value]="converted | ownCurrency:to:decimals" >
      </div>
      <button type="submit" class="button"
              (click)="convert()"
              [disabled]="!isValid()">
        CALCULATE
      </button>
    </form>
    <app-subsection></app-subsection>
  </app-section>
  <app-footer>
    <app-footer-section>
      <app-footer-section-header></app-footer-section-header>
      <app-footer-section-item></app-footer-section-item>
      <app-footer-section-item></app-footer-section-item>
      <app-footer-section-item></app-footer-section-item>
      <app-footer-section-item></app-footer-section-item>
    </app-footer-section>

    <app-footer-section>
      <app-footer-section-header></app-footer-section-header>
      <app-footer-section-item></app-footer-section-item>
      <app-footer-section-item></app-footer-section-item>
      <app-footer-section-item></app-footer-section-item>
      <app-footer-section-item></app-footer-section-item>
    </app-footer-section>

    <app-footer-section>
      <app-footer-section-header></app-footer-section-header>
      <app-footer-section-item></app-footer-section-item>
      <app-footer-section-item></app-footer-section-item>
      <app-footer-section-item></app-footer-section-item>
      <app-footer-section-item></app-footer-section-item>
    </app-footer-section>
  </app-footer>
</div>
