::ng-deep .form {
  min-height: 200px;
  width: 100%;
  padding-bottom: 30px;
  box-shadow: 0 1px 1px #9E9E9E;
  background-color: #dadfe3;
  border-top: 4px solid #b4b3bb;
  border-bottom: 4px solid #b4b3bb;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}


::ng-deep .form .input-control {
  height: 35px;
  padding: 1px 8px;
  margin: 0 10px;
  font-size: large;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 4px #E0E0E0;
  border: 1px solid #E0E0E0;
}

::ng-deep .form .button {
  color: white;
  background-color: #607D8B;
  padding: 20px 80px;
  border: none;
  outline: none;
}

::ng-deep .form .button:active {
  opacity: 0.5;
}

::ng-deep .form .input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

::ng-deep .form [disabled], ::ng-deep .form [readonly] {
  opacity: 0.5;
}

@media only screen and (min-width: 600px) {
  ::ng-deep .form .input-group {
    flex-direction: row;
    justify-content: center;
  }

  ::ng-deep .form .input-control {
    height: 25px;
    width: 250px;
  }
}
