footer {
  background-color: #dadfe3;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  footer {
    flex-direction: row;
    justify-content: center;
  }
}
